.breadcrumb {
	padding: $breadcrumb-padding-y $breadcrumb-padding-x 3px;

	> li {
		max-width: 150px;

		@include text-truncate;

		@media screen and (min-width: breakpoint-min(md)) {
			max-width: 300px;
		}

		&:before {
			content: '\00a0';
		}

		+ li:before {
			content: "#{$breadcrumb-divider}"+"\00a0";
		}
	}
}

.breadcrumb-vertical {
	> li {
		display: block;
		max-width: none;
		word-wrap: break-word;

		&:before {
			color: $breadcrumb-divider-color;
		}
	}

	> li:before,
	> li + li:before {
		content: $breadcrumb-vertical-divider;
		padding: 0;
	}
}