.basic-search {
	float: right;
	max-width: none;
	padding: $navbar-padding-y $navbar-padding-x;

	@media screen and (min-width: breakpoint-min(md)) {
		max-width: 220px;
		padding: 0;
	}

	&.open {
		z-index: 10;
	}

	&.basic-search-transition,
	&.open {
		button[type='submit'].btn {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}

	button[type='submit'].btn {
		border-bottom-left-radius: $btn-border-radius;
		border-top-left-radius: $btn-border-radius;

		@media screen and (min-width: breakpoint-min(md)) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}

	.form-control {
		float: right;
		width: 100%;
	}

	.input-group-input {
		.basic-search-slider .form-control {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}

		.form-control {
			border-bottom-left-radius: $input-border-radius;
			border-top-left-radius: $input-border-radius;
		}
	}
}

.basic-search-slider {
	left: 101%;
	position: relative;

	@media screen and (min-width: breakpoint-max(sm)) {
		left: 0;
	}

	.basic-search-close {
		background-color: transparent;
		border-color: transparent;
		color: $link-color;
		left: 0;
		position: absolute;
		z-index: 4;

		&:active {
			box-shadow: none;
		}

		&:focus {
			background-color: transparent;
			border-color: transparent;
			color: $link-hover-color;
			outline: none;
		}

		@media screen and (min-width: breakpoint-max(sm)) {
			display: none;
			line-height: normal;
		}
	}

	.basic-search.open & {
		left: 0;
	}
}

.basic-search-autofit {
	float: none;
	max-width: none;
}

.basic-search-transition {
	&:after {
		@include transition(all 0.1s ease);
	}

	.basic-search-slider {
		@include transition(left 0.5s ease);
	}
}

// Navbar Collapse Basic Search Styles

.collapse-basic-search {
	position: relative;

	@media screen and (min-width: breakpoint-min(md)) {
		.basic-search-autofit {
			float: none;
			max-width: none;
		}
	}

	.basic-search {
		bottom: 0;
		display: block;
		left: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;

		@media screen and (min-width: breakpoint-min(md)) { //min-width: 768px
			position: static;
		}

		&.basic-search-transition,
		&.open {
			.input-group-input {
				visibility: visible;
			}
		}

		&.open .basic-search-close {
			@media screen and (min-width: breakpoint-min(md)) {
				display: none;
			}
		}

		.input-group-input {
			overflow: hidden;
			visibility: hidden;

			@media screen and (min-width: breakpoint-min(md)) {
				overflow: visible;
				visibility: visible;
			}

			.form-control {
				@media screen and (min-width: breakpoint-min(md)) {
					left: auto;
				}
			}
		}

		.form-control {
			padding-left: 40px;

			@media screen and (min-width: breakpoint-min(md)) {
				padding-left: 5px;
			}
		}
	}

	.navbar-toggler,
	.nav-item {
		position: relative;
		z-index: 1;
	}
}

// Navbar Helper Classes

.navbar-nav-left {
	float: left;
}

.navbar-nav-right {
	float: right;
}

// Make navbar-toggleable-xs position absolute

.navbar-toggleable-xs-absolute {
	@media screen and (max-width: breakpoint-max(xs)) { // max-width: 543px
		left: -1px;
		padding-left: $navbar-padding-x;
		padding-right: $navbar-padding-x;
		position: absolute;
		right: -1px;
		top: 100%;
		z-index: $zindex-navbar;
	}
}

.basic-search {
	.input-group-input {
		text-align: right;

		.form-control {
			min-width: 100px;
		}
	}
}

// Skin

.bg-danger .navbar-toggleable-xs-absolute {
	background-color: $brand-danger;
}

.bg-faded .navbar-toggleable-xs-absolute {
	background-color: $gray-lightest;
}

.bg-info .navbar-toggleable-xs-absolute {
	background-color: $brand-info;
}

.bg-inverse .navbar-toggleable-xs-absolute {
	background-color: $gray-dark;
}

.bg-primary .navbar-toggleable-xs-absolute {
	background-color: $brand-primary;
}

.bg-success .navbar-toggleable-xs-absolute {
	background-color: $brand-success;
}

.bg-warning .navbar-toggleable-xs-absolute {
	background-color: $brand-warning;
}