.pagination-bar {
	@include clearfix();

	.pagination {
		width: 100%;

		> li {
			display: block;
			float: left;

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}
		}
	}
}

.pagination-items-per-page {
	float: left;

	[class*="icon-"] {
		margin-left: 10px;
	}

	a {
		display: block;
		padding-bottom: $pagination-padding-y;
		padding-top: $pagination-padding-y;

		&:focus,
		&:hover {
			text-decoration: none;
		}
	}
}

.pagination-results {
	float: right;
	padding-bottom: $pagination-padding-y;
	padding-top: $pagination-padding-y;
}

.pagination-lg {
	&.pagination-items-per-page a,
	&.pagination-results,
	.pagination-items-per-page a,
	.pagination-results {
		font-size: $font-size-lg;
		padding-bottom: $pagination-padding-y-lg;
		padding-top: $pagination-padding-y-lg;
	}

	&.pagination,
	.pagination {
		@include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
	}
}

.pagination-sm {
	&.pagination-items-per-page a,
	&.pagination-results,
	.pagination-items-per-page a,
	.pagination-results {
		font-size: $font-size-sm;
		padding-bottom: $pagination-padding-y-sm;
		padding-top: $pagination-padding-y-sm;
	}

	&.pagination,
	.pagination {
		@include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
	}
}

@media screen and (min-width: breakpoint-min(md)) {
	.pagination-bar .pagination {
		float: right;
		margin: 0;
		width: auto;
	}

	.pagination-results {
		float: left;
		margin-left: 25px;
	}
}